<%= turbo_stream_from @meeting %>

<div class="max-w-2xl mx-auto">
  <% if @meeting.live? %>
    <%= render "meetings/live_view", meeting: @meeting, club: @club, user_rsvp: @user_rsvp %>
  <% elsif @meeting.ended? %>
    <%= render "meetings/ended_view", meeting: @meeting, club: @club, user_rsvp: @user_rsvp %>
  <% else %>
    <%= render "meetings/scheduled_view", meeting: @meeting, club: @club, user_rsvp: @user_rsvp %>
  <% end %>
</div>
